:root {
  --background-color: #404041;
  --body-text: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: var(--background-color);
}

body {
  color: var(--body-text);
}

a {
  color: inherit;
  text-decoration: none;
  appearance: none;
}

blockquote > p {
    font-size: 72px !important;
    line-height: 1 !important;
    color: #C3918F !important;
}

.background {
    background-color: var(--background-color);
}